#tab_plugin_printscheduler div.filelist div.span7.file_path {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tab_plugin_printscheduler div.filelist div.span1.btn-group {
    text-align: right;
}

#tab_plugin_printscheduler div.listheader div.listactions {
    text-align: right;
}

#tab_plugin_printscheduler div.filelist div.row-fluid {
    display: flex;
    align-items: center;
}

#tab_plugin_printscheduler > div.row-fluid.filelist > div:nth-child(1) {
    margin-top: 10px;
}

#tab_plugin_printscheduler > div.row-fluid.filelist > div.row-fluid > div.btn-group {
    margin-top: -10px;
}

#settings_plugin_printscheduler input.checkbox {
    margin-top: 0;
}
